@import "@/assets/styles/variables.scss";

.info-modal {
  padding: 0 $spacing-lg $spacing-lg $spacing-lg;

  .info-message {
    margin-bottom: $spacing-lg;
    font-size: $font-md;
    line-height: 1.5;
    color: var(--text-primary-color);
  }

  .info-actions {
    display: flex;
    justify-content: flex-end;
  }
}
