@import "@/assets/styles/variables.scss";

.loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 12.5rem;
  width: 100%;
}

.loading-spinner {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid rgba(var(--primary-color-rgb), 0.1);
  border-radius: 50%;
  border-top-color: var(--primary-color);
  animation: spin 1s ease-in-out infinite;
  margin-bottom: $spacing-md;
}

.loading-message {
  color: var(--text-secondary-color);
  font-size: $font-md;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
