@import 'src/assets/styles/variables.scss';

.confirmation-modal {
  padding: 0 $spacing-lg $spacing-lg $spacing-lg;
  
  .confirmation-message {
    margin-bottom: $spacing-xl;
    font-size: $font-md;
    line-height: 1.5;
    color: var(--text-primary-color);
  }
  
  .confirmation-actions {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-md;
  }
} 