@import "./assets/styles/variables";
@import "./assets/styles/theme";

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--font-family-code);
}

body {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  line-height: 1.5;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

@media (max-width: 768px) {
  input[type="text"],
  textarea {
    font-size: 16px !important;
  }
}